nav{
    position: relative;
    margin: 2rem;
    margin-bottom: 6rem;
}

h1{
    font: bold;
}

a{
    font-size: large;
    text-decoration: none;
}

.line{
    display: block;
    height: 0.052rem;
    width: 2rem;
    background-color: black;
}