---
import '../styles/global.css';
import Baselayout from '../layout/baselayout.astro';

const pageTitle = "Home Page";
---

<Baselayout pageTitle = {pageTitle}>
	<style>
		#quote{
			color: chocolate;
		}
	</style>

	<p>In this blog you are going to see how i am working towards my journey on completing an introductory lesson like program created by Astro community on how to use their astro framework.<br>
	On 03-04-2023, i got struck in creating a hamburger menu and i totally lost my mind creating it, but it all a part in learning new things. <br>
	<span id="quote">finally i learnt that, instead of talking stuffs, doing stuff makes great effort...</span> </p>
</Baselayout>