---
const{title, url} = Astro.props;
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<p class="tag"><a href={url}>{title}</a></p>

<style>
    .tag{
        margin: .25em;
        border: dotted 1px #a2a2a2;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>