---
const {pageTitle} = Astro.props;
// console.log(pageTitle)
import Nav from "../components/nav";
import "../styles/global.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Digital Artist Services, accessible for everyone" />
        <meta title={pageTitle} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <main>
            <Nav client:load/>
            <slot />
        </main>
    </body>
</html>